body{
    background-color: black;
    margin: 0; 
    user-select: none; 
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    cursor: none;
}
.custom-cursor {
    position: absolute;
    pointer-events: none;
    font-size: 15px;
    transform: translate(-50%, -50%);
    color: cyan;
}
.game-canvas {
    background-color: black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-bottom: 1px;
}
button {
    cursor: none;
}



/* --- HOME SCREEN, PAUSE SCREEN --- */
.home-screen{
    position: absolute;
    top: 53px;
    color: white;

    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
.pause-screen{
    position: absolute;
    top: 130px;
    color: white;

    display: none;
    flex-flow: column nowrap;
    gap: 20px;
}
.home-screen div {
    font-size: 50px;
    display: flex;
    flex-flow: row nowrap;
}

.home-screen button, .pause-screen button{
    width: 170px;
    background: none;
    color: grey;
    border: none;
    font-size: 30px;
    height: 50px;
    transition: all 0.5s ease;
    text-align: left;
    border-bottom: 1px solid grey;
}
.home-screen button:hover, .pause-screen button:hover{
    color: white;
    border-bottom: 1px solid white;
    animation: 1s ease;
    width: 200px;
    transform: translate(3px, -3px);
}



/* --- CONTROLS PANNEL --- */
.controls-panel {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 47%;
    display: flex;
    flex-flow: column nowrap;
    align-items: end;
    display: none;
}
.controls-panel button{
    background: none;
    cursor: none;
    border: none;
    width: 120px;
    margin-right: 32px;
    margin-top: 4px;
}
.controls-panel button:hover {
    transform: scale(1.1);
}
.controls-panel button img{
    width: 120px;
}



/* --- HOME BUTTON --- */
.home-button-container {
    position: absolute;
    display: none;
    top: 15px;
}
.home-button-container button {
    background: none;
    cursor: none;
    border: none;
}
.home-button-container button:hover {
    transform: scale(1.1);
}
.home-button-container button img {
    width: 120px;
}



/* --- STATS --- */
.game-loop{
    display: none;
}

.stats{
    top: 20px;
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}
.stats div {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.stats .map-canvas {
    border: 0.5px solid white;
    background-color: black;
}
.stats .percentage-container {
    display: flex;
    flex-flow: row nowrap;
    font-size: 10px;
    justify-content: space-between;
    color: white;
}

.stats .health-container {
    width: 220px;
    height: 20px;
}
.stats .energy-bar {
    width: 220px;
    height: 20px;
    background-color: rgba(0,255,255,1);
}

.stats .health-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}
.stats .health-container .health-bar {
    width: 40px;
    height: 20px;
    background-color: white;
}



/* --- COINS --- */
.coins-display {
    bottom: 20px;
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    border-bottom: 1px solid white ;
    color: white;
}
.coins-display img {
    width: 20px;
}



/* --- SPAWNER --- */
.spawner-display {
    border: 0.5px solid white;
    background: black;
    position: absolute;
    width: 100px;
    height: 120px;
    bottom: 10px;
}
.spawner-icon{
    width: 100px;
}  
.price-display {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 3px;
    float: right;
    margin-right: 5px;
}
.price-icon {
    width: 15px;
}
.price-counter{
    color: white;
    font-size: 15px;
}



/* --- MESSAGE-LOG --- */
.message-log{
    font-size: 25px;
    position: absolute;
    top: 20px;
    opacity: 0;
}